<div class="main-container">
  <div class="left-container">
    <div class="form-container">

      <div class="image-data-div">
        <img class="image"
             [src]="imageSrc == undefined ? '../../assets/empty_pic.png' : imageSrc"
             alt="image">
        <button mat-mini-fab (click)="removeImage()"
                [disabled]="imageSrc == undefined"
                class="remove-btn">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>

      <form [formGroup]="imageGenerationForm">

        <mat-form-field appearance="outline">
          <ngx-mat-file-input formControlName="image_data"
                              [multiple]="false"
                              [accept]="'.png, .jpg, .jpeg'"
                              [color]="'primary'">
            <mat-icon ngxMatFileInputIcon class="file-upload-icon">folder</mat-icon>
          </ngx-mat-file-input>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Prompt</mat-label>
          <textarea formControlName="prompt"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">
          </textarea>
        </mat-form-field>

        <button mat-raised-button class="run-btn" color="primary"
                [disabled]="apiLoading"
                (click)="generate()">
          <span *ngIf="!apiLoading">Run</span>
          <mat-spinner *ngIf="apiLoading" mode="indeterminate" style="margin:0 auto;" [diameter]="30"></mat-spinner>
        </button>

      </form>
    </div>
  </div>

  <div class="right-container">
<!--    <div class="service-loading" *ngIf="loadPresentation">-->
<!--      <div class="iframe-div center">-->
<!--        <button mat-button style="float: right" (click)="loadPresentation = false">X</button>-->
<!--        <iframe class="presentation-iframe"-->
<!--                id="presentation-iframe"-->
<!--                [src]="presentationUrl">-->
<!--        </iframe>-->
<!--        <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--      </div>-->
<!--    </div>-->

    <div class="images-container" *ngIf="this.images && !apiLoading">
      <mat-grid-list cols="2" rowHeight="2.5:2">
        <mat-grid-tile *ngFor="let image of this.images.images">
          <input type="image"
                 style="width: 80% !important;"
                 [height]="275"
                 [width]="300"
                 [src]="base64ImagePrefix + image.image_base64"
                 alt="generated-image">
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div class="images-container" *ngIf="!this.images || apiLoading">
      <mat-grid-list cols="2" rowHeight="2.5:2">
        <mat-grid-tile *ngFor="let i of [1, 2, 3, 4, 5, 6]">
          <input type="image"
                 style="width: 80% !important;"
                 [height]="275"
                 [width]="300"
                 [src]="'../../assets/empty_pic.png'"
                 alt="image">
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>
</div>
