<div class="main-form-container center">
  <h2>Forgot password?</h2>

  <div class="form-group">
    <form [formGroup]="resetPasswordForm">

      <mat-form-field appearance="fill" class="form-field">
        <!--        <mat-label class="label">Enter your email</mat-label>-->
        <input placeholder="E-mail" formControlName="email" matInput [type]="'text'" name="new-somename" autocomplete="noac">
      </mat-form-field>

      <button mat-raised-button color="primary" class="reset-btn"
              (click)="onSubmit()" [disabled]="resetPasswordForm.invalid">
        <mat-spinner *ngIf="loading" mode="indeterminate" style="margin:0 auto;" [diameter]="30"></mat-spinner>
        <span *ngIf="!loading">Send reset link</span>
      </button>

    </form>

    <p><a routerLink="/login" class="btn btn-link">Get back</a></p>

  </div>
</div>
