.form-group {
  padding: 20px;
}

.form-field {
  width: 80%;
  border-radius: 10px;
}

.reset-btn {
  width: 80%;
  font-weight: bold;
  font-size: medium;
  height: 45px;
}

.label {
  color: black;
}
