<mat-toolbar color="primary">
  <span class="example-spacer"></span>
  <span *ngIf="authService.isUserAuthenticated()">
    {{authService.getLoggedInUser().currentUser?.email}}
  </span>
  <button mat-icon-button (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <mat-spinner *ngIf="loading" mode="indeterminate" style="margin:0 auto;" [diameter]="30"></mat-spinner>
  </button>
</mat-toolbar>

<div class="iframe-container">
  <mat-spinner class="primary-spinner center" *ngIf="iframeLoading"></mat-spinner>
  <iframe class="iframe"
          *ngIf="!iframeLoading"
          id="gradio-iframe"
          [src]="iframeUrl">
  </iframe>
</div>
